In [2]:
def test():
     print("this is my very very first function")

In [4]:
test()

this is my very very first function

In [5]:
test()+ "lokesh"

this is my very very first function

<class 'TypeError'>: unsupported operand type(s) for +: 'NoneType' and 'str'

In [7]:
def test2():
     return"this is my very first return"

In [8]:
test2()

'this is my very first return'

In [12]:
test2() +  "lokesh"

'this is my very first returnlokesh'

In [19]:
def test3() :
     return "LK",23,354.56,[1,2,3,6]

In [20]:
test3()

('LK', 23, 354.56, [1, 2, 3, 6])

In [24]:
a,b,c,d = test3()

In [21]:
test3()

('LK', 23, 354.56, [1, 2, 3, 6])

In [25]:
 a

'LK'

In [26]:
b

23

In [27]:
c

354.56

In [28]:
d

[1, 2, 3, 6]

In [31]:
def test4():
     a = 5 + 5/2
     return a

In [32]:
test4()

7.5

In [33]:
def test5(a,b,c):
     d = a+b/c
     return d

In [34]:
test5()

<class 'TypeError'>: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [36]:
def test5(a,b,c):
d = a+b/c
return d

<class 'IndentationError'>: expected an indented block after function definition on line 1 (<ipython-input-36-b24923715d3d>, line 2)

In [37]:
In [21]: test5(10,20,75)

10.266666666666667

In [41]:
def test6(a,b):
    return a+b

In [43]:
test6(44,22)

66

In [44]:
test6("lokesh","lilhare")

'lokeshlilhare'

In [46]:
test6([1,2,3,4,5,6,7,89] , [ 5,6,7])

[1, 2, 3, 4, 5, 6, 7, 89, 5, 6, 7]

In [47]:
l = [1,22,33,44,"lokesh","lilhare",[1,2,33,44,55,6]]

In [48]:
l1 = []
for i in l :
   if type(i) == int or type(i) == float:
      l1.append(i)

In [ ]:
def test7(1):
    l1 =[]
    for i in l :
        if type(i) ==int or type(i) == float :
     return l1 ,

In [72]:
def test8(a):
    l1 = []
    for i in a:
        if type(i) == list:
            for j in i:
                l.append(j)
        else:
            if type(i) == int or type(i) == float:
                l.append(i)
    return l

In [73]:
10

10

In [74]:
10

10

In [75]:
l = [1,2,3,4, "lokesh", "lilhare", [1,2,3,45,6,]]

In [ ]:
def test8(a):
    l = []
    for i in a:
        if type(i) == list:
            for j in i:
                l.append(j)
        else:
            if type(i) == int or type(i) == float:
                l.append(i)
     return l

In [88]:
test8(1)

<class 'TypeError'>: 'int' object is not iterable

In [87]:
test()

this is my very very first function

In [ ]:
def test9(a):
    """This is my function to extract numeric data from list"""
    
    l = []
    for i in a:
        if type(i) == list:
            for j in i:
                l.append(j)
         else:
             if type(i) == int or type(i) == float:
                l.append(i)
    return l

In [91]:
test9()

<class 'NameError'>: name 'test9' is not defined

In [92]:
def test10(a,b):
    return a+b

In [95]:
def test11(*args):
    return args

In [96]:
test11()

()

In [97]:
test11(1,2,3,"lokesh","lilhare",[1,2,3,4,5])

(1, 2, 3, 'lokesh', 'lilhare', [1, 2, 3, 4, 5])

In [98]:
def test12(*lokesh):
    return lokesh

In [100]:
def test13(*args,a):
    return args , a

In [101]:
test13(1,2,3,4, a=10)

((1, 2, 3, 4), 10)

In [102]:
def test14(c,d,a=10, b=12):
    return a,b,c,d

In [103]:
test14()

<class 'TypeError'>: test14() missing 2 required positional arguments: 'c' and 'd'

In [105]:
test14(33,22)

(10, 12, 33, 22)

In [106]:
test14(1,5,a=1234)

(1234, 12, 1, 5)

In [ ]:
def test15(**kwargs):
    returb kwrf